<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Age</title>
</head>
<body>
    <form action="age-in" method="GET">
        <input type="text" name="age" id="age" input="age" placeholder="Gimme dat date of birth"></input>
        <input type="text" name="year" id="year" input="year" placeholder="Gimme dat year"></input>
        <input type="submit" value="submit" ></input>

    <form>
    <p>
    You will be {{total}} in {{B}}!
    </p>
</body>
</html>