<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GOODEST BURGER</title>
</head>
<body>
    <form action="can_i_take_your_order" method="GET">
        <p>DEM BURGERS THO</p>
        <p><input type="text" name="burger" id="burger" input="burger" placeholder="How many burgers"></input></p>
        <p>DEM FRIES THO</p>
        <p><input type="text" name="fries" id="fries" input="fries" placeholder="how many fries"></input></p>
        <p>DEM DRINKS THO</p>
        <p><input type="text" name="drink" id="drinks" input="drinks" placeholder="how many drinks"></input></p>
        <input type="submit" value="submit" ></input>

    <form>
    <p>

    Your total will be ${{total}} thank you, come again!
    </p>
</body>
</html>